.main-page {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__title-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 3rem;
  }

  &__charged-up-logo {
    width: 25%;
    border-radius: 5px;
    margin-bottom: 1rem;
  }

  &__play-button {
    padding: 4px;
    width: 25%;
    background-color: #0066B3;
    color: white;
    border-radius: 5px;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    border: none;
    cursor: pointer;

    &:hover {
      background-color: purple; 
    }
  }
}




